<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>uni01CD</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aring</string>
		<string>A.back</string>
		<string>Aacute.back</string>
		<string>uni01CD.back</string>
		<string>uni1EA0.back</string>
		<string>Agrave.back</string>
		<string>Amacron.back</string>
		<string>A.mid</string>
		<string>Aacute.mid</string>
		<string>uni01CD.mid</string>
		<string>uni1EA0.mid</string>
		<string>Agrave.mid</string>
		<string>Amacron.mid</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>E.di</string>
		<string>Eacute.di</string>
		<string>Ecaron.di</string>
		<string>uni1EB8.di</string>
		<string>Egrave.di</string>
		<string>Emacron.di</string>
		<string>E.front</string>
		<string>Eacute.front</string>
		<string>Ecaron.front</string>
		<string>uni1EB8.front</string>
		<string>Egrave.front</string>
		<string>Emacron.front</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>uni01CF</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>J</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni1E46</string>
		<string>uni01F8</string>
		<string>Eng</string>
		<string>I.buzz</string>
		<string>Iacute.buzz</string>
		<string>uni01CF.buzz</string>
		<string>uni1ECA.buzz</string>
		<string>Igrave.buzz</string>
		<string>Imacron.buzz</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
	</array>
	<key>public.kern1.M</key>
	<array>
		<string>M</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Oacute</string>
		<string>uni01D1</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>Omacron</string>
		<string>Q</string>
		<string>O.di</string>
		<string>Oacute.di</string>
		<string>uni01D1.di</string>
		<string>uni1ECC.di</string>
		<string>Ograve.di</string>
		<string>Omacron.di</string>
		<string>at</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>uni0156</string>
		<string>Rcircumflex</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>uni01D3</string>
		<string>Udieresis</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01D5</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>U.di</string>
		<string>Uacute.di</string>
		<string>uni01D3.di</string>
		<string>uni1EE4.di</string>
		<string>Ugrave.di</string>
		<string>Umacron.di</string>
		<string>U.yu</string>
		<string>Uacute.yu</string>
		<string>uni01D3.yu</string>
		<string>uni1EE4.yu</string>
		<string>Ugrave.yu</string>
		<string>Umacron.yu</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Y.yu</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>K</string>
		<string>X</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>uni1E90</string>
		<string>Zcedilla</string>
	</array>
	<key>public.kern1.asterisk</key>
	<array>
		<string>asterisk</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>uni03020301</string>
		<string>uni03020300</string>
		<string>uni0308</string>
		<string>uni03080300</string>
		<string>uni03080301</string>
		<string>uni0308030C</string>
		<string>uni03080304</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni030A</string>
		<string>uni0304</string>
		<string>uni03080300.case</string>
		<string>uni03080301.case</string>
		<string>uni0308030C.case</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>uni0302.case</string>
		<string>uni030C.case</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>e.di</string>
		<string>eacute.di</string>
		<string>ecaron.di</string>
		<string>uni1EB9.di</string>
		<string>egrave.di</string>
		<string>emacron.di</string>
		<string>e.front</string>
		<string>eacute.front</string>
		<string>ecaron.front</string>
		<string>uni1EB9.front</string>
		<string>egrave.front</string>
		<string>emacron.front</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>uni0261</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>j</string>
		<string>eng</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>d</string>
		<string>i</string>
		<string>iacute</string>
		<string>uni01D0</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>l</string>
		<string>i.buzz</string>
		<string>iacute.buzz</string>
		<string>uni01D0.buzz</string>
		<string>uni1ECB.buzz</string>
		<string>igrave.buzz</string>
		<string>imacron.buzz</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni1E47</string>
		<string>uni01F9</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>uni01D2</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>omacron</string>
		<string>p</string>
		<string>o.di</string>
		<string>oacute.di</string>
		<string>uni01D2.di</string>
		<string>uni1ECD.di</string>
		<string>ograve.di</string>
		<string>omacron.di</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>underscore</string>
		<string>dotbelowcomb</string>
		<string>uni0327</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>uni0157</string>
		<string>rcircumflex</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>scedilla</string>
		<string>scircumflex</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>uni01CE</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aring</string>
		<string>u</string>
		<string>uacute</string>
		<string>uni01D4</string>
		<string>udieresis</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01D6</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>umacron</string>
		<string>uring</string>
		<string>a.back</string>
		<string>aacute.back</string>
		<string>uni01CE.back</string>
		<string>uni1EA1.back</string>
		<string>agrave.back</string>
		<string>amacron.back</string>
		<string>u.di</string>
		<string>uacute.di</string>
		<string>uni01D4.di</string>
		<string>uni1EE5.di</string>
		<string>ugrave.di</string>
		<string>umacron.di</string>
		<string>a.mid</string>
		<string>aacute.mid</string>
		<string>uni01CE.mid</string>
		<string>uni1EA1.mid</string>
		<string>agrave.mid</string>
		<string>amacron.mid</string>
		<string>u.yu</string>
		<string>uacute.yu</string>
		<string>uni01D4.yu</string>
		<string>uni1EE5.yu</string>
		<string>ugrave.yu</string>
		<string>umacron.yu</string>
		<string>y.yu</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>k</string>
		<string>x</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
		<string>uni1E91</string>
		<string>zcedilla</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>uni01CD</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aring</string>
		<string>A.back</string>
		<string>Aacute.back</string>
		<string>uni01CD.back</string>
		<string>uni1EA0.back</string>
		<string>Agrave.back</string>
		<string>Amacron.back</string>
		<string>A.mid</string>
		<string>Aacute.mid</string>
		<string>uni01CD.mid</string>
		<string>uni1EA0.mid</string>
		<string>Agrave.mid</string>
		<string>Amacron.mid</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>uni01CF</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>K</string>
		<string>L</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni1E46</string>
		<string>uni01F8</string>
		<string>Eng</string>
		<string>P</string>
		<string>R</string>
		<string>uni0156</string>
		<string>I.buzz</string>
		<string>Iacute.buzz</string>
		<string>uni01CF.buzz</string>
		<string>uni1ECA.buzz</string>
		<string>Igrave.buzz</string>
		<string>Imacron.buzz</string>
		<string>E.di</string>
		<string>Eacute.di</string>
		<string>Ecaron.di</string>
		<string>uni1EB8.di</string>
		<string>Egrave.di</string>
		<string>Emacron.di</string>
		<string>E.front</string>
		<string>Eacute.front</string>
		<string>Ecaron.front</string>
		<string>uni1EB8.front</string>
		<string>Egrave.front</string>
		<string>Emacron.front</string>
		<string>Rcircumflex</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.M</key>
	<array>
		<string>M</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>G</string>
		<string>O</string>
		<string>Oacute</string>
		<string>uni01D1</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>Omacron</string>
		<string>Q</string>
		<string>O.di</string>
		<string>Oacute.di</string>
		<string>uni01D1.di</string>
		<string>uni1ECC.di</string>
		<string>Ograve.di</string>
		<string>Omacron.di</string>
		<string>at</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>uni01D3</string>
		<string>Udieresis</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01D5</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>U.di</string>
		<string>Uacute.di</string>
		<string>uni01D3.di</string>
		<string>uni1EE4.di</string>
		<string>Ugrave.di</string>
		<string>Umacron.di</string>
		<string>U.yu</string>
		<string>Uacute.yu</string>
		<string>uni01D3.yu</string>
		<string>uni1EE4.yu</string>
		<string>Ugrave.yu</string>
		<string>Umacron.yu</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Y.yu</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>uni1E90</string>
		<string>Zcedilla</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>uni01CE</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aring</string>
		<string>aacute.mid</string>
		<string>uni01CE.mid</string>
		<string>uni1EA1.mid</string>
		<string>agrave.mid</string>
		<string>amacron.mid</string>
	</array>
	<key>public.kern2.asterisk</key>
	<array>
		<string>asterisk</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>uni03020301</string>
		<string>uni03020300</string>
		<string>uni0308</string>
		<string>uni03080300</string>
		<string>uni03080301</string>
		<string>uni0308030C</string>
		<string>uni03080304</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni030A</string>
		<string>uni0304</string>
		<string>uni03080300.case</string>
		<string>uni03080301.case</string>
		<string>uni0308030C.case</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>uni0302.case</string>
		<string>uni030C.case</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
		<string>uni0261</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
	</array>
	<key>public.kern2.l</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>uni01D0</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>i.buzz</string>
		<string>iacute.buzz</string>
		<string>uni01D0.buzz</string>
		<string>uni1ECB.buzz</string>
		<string>igrave.buzz</string>
		<string>imacron.buzz</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni1E47</string>
		<string>uni01F9</string>
		<string>eng</string>
		<string>r</string>
		<string>uni0157</string>
		<string>rcircumflex</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>o</string>
		<string>oacute</string>
		<string>uni01D2</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>omacron</string>
		<string>q</string>
		<string>e.di</string>
		<string>eacute.di</string>
		<string>ecaron.di</string>
		<string>uni1EB9.di</string>
		<string>egrave.di</string>
		<string>emacron.di</string>
		<string>o.di</string>
		<string>oacute.di</string>
		<string>uni01D2.di</string>
		<string>uni1ECD.di</string>
		<string>ograve.di</string>
		<string>omacron.di</string>
		<string>e.front</string>
		<string>eacute.front</string>
		<string>ecaron.front</string>
		<string>uni1EB9.front</string>
		<string>egrave.front</string>
		<string>emacron.front</string>
		<string>a.mid</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>underscore</string>
		<string>dotbelowcomb</string>
		<string>uni0327</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>scedilla</string>
		<string>scircumflex</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>uni01D4</string>
		<string>udieresis</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01D6</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>umacron</string>
		<string>uring</string>
		<string>a.back</string>
		<string>aacute.back</string>
		<string>uni01CE.back</string>
		<string>uni1EA1.back</string>
		<string>agrave.back</string>
		<string>amacron.back</string>
		<string>u.di</string>
		<string>uacute.di</string>
		<string>uni01D4.di</string>
		<string>uni1EE5.di</string>
		<string>ugrave.di</string>
		<string>umacron.di</string>
		<string>u.yu</string>
		<string>uacute.yu</string>
		<string>uni01D4.yu</string>
		<string>uni1EE5.yu</string>
		<string>ugrave.yu</string>
		<string>umacron.yu</string>
		<string>y.yu</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>uni1E91</string>
		<string>zcedilla</string>
	</array>
</dict>
</plist>
