(
A,
Aacute,
Acaron,
Adotbelow,
Agrave,
Amacron,
Aring,
B,
C,
Ccedilla,
Ccircumflex,
D,
E,
Eacute,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Edotbelow,
Egrave,
Emacron,
F,
G,
H,
I,
Iacute,
Icaron,
Idotbelow,
Igrave,
Imacron,
J,
K,
L,
M,
N,
Nacute,
Ncaron,
Ndotbelow,
Ngrave,
Eng,
O,
Oacute,
Ocaron,
Odotbelow,
Ograve,
Omacron,
P,
Q,
R,
Rcommaaccent,
S,
Scedilla,
Scircumflex,
T,
U,
Uacute,
Ucaron,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Umacron,
Uring,
V,
W,
X,
Y,
Z,
Zcircumflex,
A.back,
Aacute.back,
Acaron.back,
Adotbelow.back,
Agrave.back,
Amacron.back,
I.buzz,
Iacute.buzz,
Icaron.buzz,
Idotbelow.buzz,
Igrave.buzz,
Imacron.buzz,
E.di,
Eacute.di,
Ecaron.di,
Edotbelow.di,
Egrave.di,
Emacron.di,
O.di,
Oacute.di,
Ocaron.di,
Odotbelow.di,
Ograve.di,
Omacron.di,
U.di,
Uacute.di,
Ucaron.di,
Udotbelow.di,
Ugrave.di,
Umacron.di,
E.front,
Eacute.front,
Ecaron.front,
Edotbelow.front,
Egrave.front,
Emacron.front,
A.mid,
Aacute.mid,
Acaron.mid,
Adotbelow.mid,
Agrave.mid,
Amacron.mid,
U.yu,
Uacute.yu,
Ucaron.yu,
Udotbelow.yu,
Ugrave.yu,
Umacron.yu,
Y.yu,
a,
aacute,
acaron,
adotbelow,
agrave,
amacron,
aring,
b,
c,
ccedilla,
ccircumflex,
d,
e,
eacute,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
edotbelow,
egrave,
emacron,
f,
g,
h,
i,
iacute,
icaron,
idotbelow,
igrave,
imacron,
j,
k,
l,
m,
n,
nacute,
ncaron,
ndotbelow,
ngrave,
eng,
o,
oacute,
ocaron,
odotbelow,
ograve,
omacron,
p,
q,
r,
rcommaaccent,
s,
scedilla,
scircumflex,
t,
u,
uacute,
ucaron,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
umacron,
uring,
v,
w,
x,
y,
z,
zcircumflex,
a.back,
aacute.back,
acaron.back,
adotbelow.back,
agrave.back,
amacron.back,
i.buzz,
iacute.buzz,
icaron.buzz,
idotbelow.buzz,
igrave.buzz,
imacron.buzz,
e.di,
eacute.di,
ecaron.di,
edotbelow.di,
egrave.di,
emacron.di,
o.di,
oacute.di,
ocaron.di,
odotbelow.di,
ograve.di,
omacron.di,
u.di,
uacute.di,
ucaron.di,
udotbelow.di,
ugrave.di,
umacron.di,
e.front,
eacute.front,
ecaron.front,
edotbelow.front,
egrave.front,
emacron.front,
a.mid,
aacute.mid,
acaron.mid,
adotbelow.mid,
agrave.mid,
amacron.mid,
u.yu,
uacute.yu,
ucaron.yu,
udotbelow.yu,
ugrave.yu,
umacron.yu,
y.yu,
Rcircumflex,
Zcedilla,
rcircumflex,
zcedilla,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.subs,
one.subs,
two.subs,
three.subs,
four.subs,
five.subs,
six.subs,
seven.subs,
eight.subs,
nine.subs,
zero.sups,
one.sups,
two.sups,
three.sups,
four.sups,
five.sups,
six.sups,
seven.sups,
eight.sups,
nine.sups,
CR,
.notdef,
figurespace,
hairspace,
punctuationspace,
space,
nbspace,
thinspace,
zerowidthspace,
LF,
"leftanglebracket-math",
"rightanglebracket-math",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
question,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
endash,
emdash,
figuredash,
horizontalbar,
hyphentwo,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
at,
ampersand,
bar,
cent,
dollar,
yen,
bulletoperator,
plus,
minus,
equal,
greater,
less,
percent,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
dieresiscomb,
dieresiscomb_gravecomb,
dieresiscomb_acutecomb,
dieresiscomb_caroncomb,
dieresiscomb_macroncomb,
gravecomb,
acutecomb,
circumflexcomb,
caroncomb,
ringcomb,
macroncomb,
dotbelowcomb,
cedillacomb,
dieresiscomb.case,
dieresiscomb_gravecomb.case,
dieresiscomb_acutecomb.case,
dieresiscomb_caroncomb.case,
gravecomb.case,
acutecomb.case,
circumflexcomb.case,
caroncomb.case,
ringcomb.case,
macroncomb.case,
"alpha-latin",
gsingle
)