<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>uni0315</key>
	<string>uni0315.glif</string>
	<key>uni0330</key>
	<string>uni0330.glif</string>
	<key>uni0358</key>
	<string>uni0358.glif</string>
	<key>uni1D0A</key>
	<string>uni1D_0A_.glif</string>
</dict>
</plist>
