<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>b.ZHP</key>
	<string>b.Z_H_P_.glif</string>
	<key>commaaboverightcomb</key>
	<string>commaaboverightcomb.glif</string>
	<key>d.ZHP</key>
	<string>d.Z_H_P_.glif</string>
	<key>dotaboverightcomb</key>
	<string>dotaboverightcomb.glif</string>
	<key>g.ZHP</key>
	<string>g.Z_H_P_.glif</string>
	<key>j.sc</key>
	<string>j.sc.glif</string>
	<key>tildebelowcomb</key>
	<string>tildebelowcomb.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>x.ZHP</key>
	<string>x.Z_H_P_.glif</string>
</dict>
</plist>
