<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.back</key>
	<string>A_.back.glif</string>
	<key>A.mid</key>
	<string>A_.mid.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Aacute.back</key>
	<string>A_acute.back.glif</string>
	<key>Aacute.mid</key>
	<string>A_acute.mid.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Agrave.back</key>
	<string>A_grave.back.glif</string>
	<key>Agrave.mid</key>
	<string>A_grave.mid.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Amacron.back</key>
	<string>A_macron.back.glif</string>
	<key>Amacron.mid</key>
	<string>A_macron.mid.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccircumflex</key>
	<string>C_circumflex.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.di</key>
	<string>E_.di.glif</string>
	<key>E.front</key>
	<string>E_.front.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Eacute.di</key>
	<string>E_acute.di.glif</string>
	<key>Eacute.front</key>
	<string>E_acute.front.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecaron.di</key>
	<string>E_caron.di.glif</string>
	<key>Ecaron.front</key>
	<string>E_caron.front.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Egrave.di</key>
	<string>E_grave.di.glif</string>
	<key>Egrave.front</key>
	<string>E_grave.front.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Emacron.di</key>
	<string>E_macron.di.glif</string>
	<key>Emacron.front</key>
	<string>E_macron.front.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.buzz</key>
	<string>I_.buzz.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Iacute.buzz</key>
	<string>I_acute.buzz.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Igrave.buzz</key>
	<string>I_grave.buzz.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Imacron.buzz</key>
	<string>I_macron.buzz.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.di</key>
	<string>O_.di.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Oacute.di</key>
	<string>O_acute.di.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ograve.di</key>
	<string>O_grave.di.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omacron.di</key>
	<string>O_macron.di.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Rcircumflex</key>
	<string>R_circumflex.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Scircumflex</key>
	<string>S_circumflex.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.di</key>
	<string>U_.di.glif</string>
	<key>U.yu</key>
	<string>U_.yu.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Uacute.di</key>
	<string>U_acute.di.glif</string>
	<key>Uacute.yu</key>
	<string>U_acute.yu.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Ugrave.di</key>
	<string>U_grave.di.glif</string>
	<key>Ugrave.yu</key>
	<string>U_grave.yu.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Umacron.di</key>
	<string>U_macron.di.glif</string>
	<key>Umacron.yu</key>
	<string>U_macron.yu.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.yu</key>
	<string>Y_.yu.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zcedilla</key>
	<string>Z_cedilla.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.back</key>
	<string>a.back.glif</string>
	<key>a.mid</key>
	<string>a.mid.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.back</key>
	<string>aacute.back.glif</string>
	<key>aacute.mid</key>
	<string>aacute.mid.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecomb.case</key>
	<string>acutecomb.case.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.back</key>
	<string>agrave.back.glif</string>
	<key>agrave.mid</key>
	<string>agrave.mid.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.back</key>
	<string>amacron.back.glif</string>
	<key>amacron.mid</key>
	<string>amacron.mid.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotbelowcomb</key>
	<string>dotbelowcomb.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.di</key>
	<string>e.di.glif</string>
	<key>e.front</key>
	<string>e.front.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eacute.di</key>
	<string>eacute.di.glif</string>
	<key>eacute.front</key>
	<string>eacute.front.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecaron.di</key>
	<string>ecaron.di.glif</string>
	<key>ecaron.front</key>
	<string>ecaron.front.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>egrave.di</key>
	<string>egrave.di.glif</string>
	<key>egrave.front</key>
	<string>egrave.front.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emacron.di</key>
	<string>emacron.di.glif</string>
	<key>emacron.front</key>
	<string>emacron.front.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>figuredash</key>
	<string>figuredash.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecomb.case</key>
	<string>gravecomb.case.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.buzz</key>
	<string>i.buzz.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>iacute.buzz</key>
	<string>iacute.buzz.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>igrave.buzz</key>
	<string>igrave.buzz.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>imacron.buzz</key>
	<string>imacron.buzz.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.di</key>
	<string>o.di.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>oacute.di</key>
	<string>oacute.di.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ograve.di</key>
	<string>ograve.di.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>omacron.di</key>
	<string>omacron.di.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>rcircumflex</key>
	<string>rcircumflex.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.di</key>
	<string>u.di.glif</string>
	<key>u.yu</key>
	<string>u.yu.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>uacute.di</key>
	<string>uacute.di.glif</string>
	<key>uacute.yu</key>
	<string>uacute.yu.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>ugrave.di</key>
	<string>ugrave.di.glif</string>
	<key>ugrave.yu</key>
	<string>ugrave.yu.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>umacron.di</key>
	<string>umacron.di.glif</string>
	<key>umacron.yu</key>
	<string>umacron.yu.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni000A</key>
	<string>uni000A_.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni00B2</key>
	<string>uni00B_2.glif</string>
	<key>uni00B3</key>
	<string>uni00B_3.glif</string>
	<key>uni00B9</key>
	<string>uni00B_9.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni01CD</key>
	<string>uni01C_D_.glif</string>
	<key>uni01CD.back</key>
	<string>uni01C_D_.back.glif</string>
	<key>uni01CD.mid</key>
	<string>uni01C_D_.mid.glif</string>
	<key>uni01CE</key>
	<string>uni01C_E_.glif</string>
	<key>uni01CE.back</key>
	<string>uni01C_E_.back.glif</string>
	<key>uni01CE.mid</key>
	<string>uni01C_E_.mid.glif</string>
	<key>uni01CF</key>
	<string>uni01C_F_.glif</string>
	<key>uni01CF.buzz</key>
	<string>uni01C_F_.buzz.glif</string>
	<key>uni01D0</key>
	<string>uni01D_0.glif</string>
	<key>uni01D0.buzz</key>
	<string>uni01D_0.buzz.glif</string>
	<key>uni01D1</key>
	<string>uni01D_1.glif</string>
	<key>uni01D1.di</key>
	<string>uni01D_1.di.glif</string>
	<key>uni01D2</key>
	<string>uni01D_2.glif</string>
	<key>uni01D2.di</key>
	<string>uni01D_2.di.glif</string>
	<key>uni01D3</key>
	<string>uni01D_3.glif</string>
	<key>uni01D3.di</key>
	<string>uni01D_3.di.glif</string>
	<key>uni01D3.yu</key>
	<string>uni01D_3.yu.glif</string>
	<key>uni01D4</key>
	<string>uni01D_4.glif</string>
	<key>uni01D4.di</key>
	<string>uni01D_4.di.glif</string>
	<key>uni01D4.yu</key>
	<string>uni01D_4.yu.glif</string>
	<key>uni01D5</key>
	<string>uni01D_5.glif</string>
	<key>uni01D6</key>
	<string>uni01D_6.glif</string>
	<key>uni01D7</key>
	<string>uni01D_7.glif</string>
	<key>uni01D8</key>
	<string>uni01D_8.glif</string>
	<key>uni01D9</key>
	<string>uni01D_9.glif</string>
	<key>uni01DA</key>
	<string>uni01D_A_.glif</string>
	<key>uni01DB</key>
	<string>uni01D_B_.glif</string>
	<key>uni01DC</key>
	<string>uni01D_C_.glif</string>
	<key>uni01F8</key>
	<string>uni01F_8.glif</string>
	<key>uni01F9</key>
	<string>uni01F_9.glif</string>
	<key>uni0251</key>
	<string>uni0251.glif</string>
	<key>uni0261</key>
	<string>uni0261.glif</string>
	<key>uni0302</key>
	<string>uni0302.glif</string>
	<key>uni0302.case</key>
	<string>uni0302.case.glif</string>
	<key>uni03020300</key>
	<string>uni03020300.glif</string>
	<key>uni03020301</key>
	<string>uni03020301.glif</string>
	<key>uni0304</key>
	<string>uni0304.glif</string>
	<key>uni0304.case</key>
	<string>uni0304.case.glif</string>
	<key>uni0308</key>
	<string>uni0308.glif</string>
	<key>uni0308.case</key>
	<string>uni0308.case.glif</string>
	<key>uni03080300</key>
	<string>uni03080300.glif</string>
	<key>uni03080300.case</key>
	<string>uni03080300.case.glif</string>
	<key>uni03080301</key>
	<string>uni03080301.glif</string>
	<key>uni03080301.case</key>
	<string>uni03080301.case.glif</string>
	<key>uni03080304</key>
	<string>uni03080304.glif</string>
	<key>uni0308030C</key>
	<string>uni0308030C_.glif</string>
	<key>uni0308030C.case</key>
	<string>uni0308030C_.case.glif</string>
	<key>uni030A</key>
	<string>uni030A_.glif</string>
	<key>uni030A.case</key>
	<string>uni030A_.case.glif</string>
	<key>uni030C</key>
	<string>uni030C_.glif</string>
	<key>uni030C.case</key>
	<string>uni030C_.case.glif</string>
	<key>uni0327</key>
	<string>uni0327.glif</string>
	<key>uni1E46</key>
	<string>uni1E_46.glif</string>
	<key>uni1E47</key>
	<string>uni1E_47.glif</string>
	<key>uni1E90</key>
	<string>uni1E_90.glif</string>
	<key>uni1E91</key>
	<string>uni1E_91.glif</string>
	<key>uni1EA0</key>
	<string>uni1E_A_0.glif</string>
	<key>uni1EA0.back</key>
	<string>uni1E_A_0.back.glif</string>
	<key>uni1EA0.mid</key>
	<string>uni1E_A_0.mid.glif</string>
	<key>uni1EA1</key>
	<string>uni1E_A_1.glif</string>
	<key>uni1EA1.back</key>
	<string>uni1E_A_1.back.glif</string>
	<key>uni1EA1.mid</key>
	<string>uni1E_A_1.mid.glif</string>
	<key>uni1EB8</key>
	<string>uni1E_B_8.glif</string>
	<key>uni1EB8.di</key>
	<string>uni1E_B_8.di.glif</string>
	<key>uni1EB8.front</key>
	<string>uni1E_B_8.front.glif</string>
	<key>uni1EB9</key>
	<string>uni1E_B_9.glif</string>
	<key>uni1EB9.di</key>
	<string>uni1E_B_9.di.glif</string>
	<key>uni1EB9.front</key>
	<string>uni1E_B_9.front.glif</string>
	<key>uni1EBE</key>
	<string>uni1E_B_E_.glif</string>
	<key>uni1EBF</key>
	<string>uni1E_B_F_.glif</string>
	<key>uni1EC0</key>
	<string>uni1E_C_0.glif</string>
	<key>uni1EC1</key>
	<string>uni1E_C_1.glif</string>
	<key>uni1EC6</key>
	<string>uni1E_C_6.glif</string>
	<key>uni1EC7</key>
	<string>uni1E_C_7.glif</string>
	<key>uni1ECA</key>
	<string>uni1E_C_A_.glif</string>
	<key>uni1ECA.buzz</key>
	<string>uni1E_C_A_.buzz.glif</string>
	<key>uni1ECB</key>
	<string>uni1E_C_B_.glif</string>
	<key>uni1ECB.buzz</key>
	<string>uni1E_C_B_.buzz.glif</string>
	<key>uni1ECC</key>
	<string>uni1E_C_C_.glif</string>
	<key>uni1ECC.di</key>
	<string>uni1E_C_C_.di.glif</string>
	<key>uni1ECD</key>
	<string>uni1E_C_D_.glif</string>
	<key>uni1ECD.di</key>
	<string>uni1E_C_D_.di.glif</string>
	<key>uni1EE4</key>
	<string>uni1E_E_4.glif</string>
	<key>uni1EE4.di</key>
	<string>uni1E_E_4.di.glif</string>
	<key>uni1EE4.yu</key>
	<string>uni1E_E_4.yu.glif</string>
	<key>uni1EE5</key>
	<string>uni1E_E_5.glif</string>
	<key>uni1EE5.di</key>
	<string>uni1E_E_5.di.glif</string>
	<key>uni1EE5.yu</key>
	<string>uni1E_E_5.yu.glif</string>
	<key>uni2007</key>
	<string>uni2007.glif</string>
	<key>uni2008</key>
	<string>uni2008.glif</string>
	<key>uni2009</key>
	<string>uni2009.glif</string>
	<key>uni200A</key>
	<string>uni200A_.glif</string>
	<key>uni200B</key>
	<string>uni200B_.glif</string>
	<key>uni2010</key>
	<string>uni2010.glif</string>
	<key>uni2015</key>
	<string>uni2015.glif</string>
	<key>uni2070</key>
	<string>uni2070.glif</string>
	<key>uni2074</key>
	<string>uni2074.glif</string>
	<key>uni2075</key>
	<string>uni2075.glif</string>
	<key>uni2076</key>
	<string>uni2076.glif</string>
	<key>uni2077</key>
	<string>uni2077.glif</string>
	<key>uni2078</key>
	<string>uni2078.glif</string>
	<key>uni2079</key>
	<string>uni2079.glif</string>
	<key>uni2080</key>
	<string>uni2080.glif</string>
	<key>uni2081</key>
	<string>uni2081.glif</string>
	<key>uni2082</key>
	<string>uni2082.glif</string>
	<key>uni2083</key>
	<string>uni2083.glif</string>
	<key>uni2084</key>
	<string>uni2084.glif</string>
	<key>uni2085</key>
	<string>uni2085.glif</string>
	<key>uni2086</key>
	<string>uni2086.glif</string>
	<key>uni2087</key>
	<string>uni2087.glif</string>
	<key>uni2088</key>
	<string>uni2088.glif</string>
	<key>uni2089</key>
	<string>uni2089.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uni27E8</key>
	<string>uni27E_8.glif</string>
	<key>uni27E9</key>
	<string>uni27E_9.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.yu</key>
	<string>y.yu.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zcedilla</key>
	<string>zcedilla.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
